body {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../images/letter_l.jpg");
}


#headercontainer{
    border-bottom: 2px solid #89bdd3;
    height: 60px;
    background-color: white;
}

.header {
    background:#2b2b29;
    border-bottom: none;
    max-width: 600px;
    height: 50%;
    padding: 15px;
    color: #ffffff;
    margin-left: 140px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: -10px;
    float: left;
    font-size: 24px;
}

nav{
    width: 270px;
    float: right;
    text-align: center;
    margin-right: 90px;
    color:white;
}

ul{
    clear: both;
    color: #2b2b29;
    font-size: 15px;
    list-style: bold;
    margin: 0;
    padding: 0;
}

.link-1{
    float: left;
    margin-top: 20px;
}

.link-2{
    float: left;
    margin-top: 20px;
}

.link-3{
    float: left;
    margin-top: 20px;
}

#maincontent{
    clear: both;
    overflow: auto;
    margin: 0 auto;
    width: 960px;
    height: 100%;
}

#AboutMe{
    border-bottom: 2px solid #89bdd3;
    width: 960px;
    margin-right: 50px;
    font-size: 30px;
    background-color:#e1e8f0;
}

.My-bio{
    background-color: #e1e8f0;
    height: 100%;
    padding: 50px;
}

#mypic{
    margin: 20px 20px 20px 20px;
}


footer {
    background: #666666;
    font-size: 15px;
    color: #ffffff;
    border-top: 6px solid #89bdd3;
    padding: 2.5%;
    text-align: center;
}